.player-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
  padding: 2rem;
  background-color: #041e42; /* Oilers dark blue */
}

.player-card {
  background-color: #ffffff;
  color: #041e42;
  border-radius: 12px;
  width: 200px;
  padding: 0.75rem;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0,0,0,0.2);
  transition: transform 0.2s;
  height: 350px;
}

.player-card:hover {
  transform: scale(1.05);
}

.player-img {
  width: 175px;
  height: 175px;
  border-radius: 50%;
  border: 3px solid #ff4c00; /* Oilers orange */
  margin: 0 auto 0.5rem;
}

.player-name {
  margin: 0.4rem 0 0.1rem;
  font-size: 1.1rem;
  font-weight: bold;
}

.player-position {
  margin-bottom: 0.3rem;
  font-weight: 500;
}

.player-stats span {
  display: inline-block;
  margin: 0.3rem 0.6rem;
  font-size: 0.9rem;
  font-weight: 500;

}
